.star {
   display: flex;
   flex-wrap: nowrap;
   align-self: flex-end;
   padding-bottom: 5px;
   &--yes {
      fill: $primary-color;
   }
   &--no {
      fill: $tertiary-color;
   }
   &--no,
   &--yes {
      margin-left: 10px;
      > svg {
         width: 90%;
      }
   }
}

.picture {
   border-radius: 100px;
   width: 64px;
   height: 64px;
   margin-left: 20px;
}
