@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext");
/*COLORS*/
/*COLORS*/
/*BREACKPOINT*/
.gallery {
  background: #f7f7f7;
  border-radius: 25px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
  list-style-type: none;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 880px) {
  .gallery {
    padding: 0;
    background: #ffffff;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
@media screen and (max-width: 880px) {
  .header {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.header__link {
  color: #ff6060;
  font-size: 24px;
  margin-left: 57px;
  margin-top: 57px;
}
@media screen and (max-width: 880px) {
  .header__link {
    font-size: 12px;
    margin-left: 20px;
    text-transform: uppercase;
  }
}
.header__link:hover, .header__link:active, .header__link:focus {
  text-decoration: underline;
}
.header__logo {
  flex-grow: 2;
  margin-top: 30px;
  margin-bottom: 40px;
}
.header__logo > img {
  width: 200px;
}
@media screen and (max-width: 880px) {
  .header__logo > img {
    width: 150px;
  }
}

.footer {
  margin-top: 36px;
  background-color: black;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 29px;
}
.footer > p {
  color: white;
}

.banner {
  height: 223px;
  line-height: 223px;
  width: 100%;
  border-radius: 25px;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/pictures/banner.png");
  background-position: center;
  background-size: cover;
  color: #ffffff;
  margin-bottom: 43px;
  text-align: center;
}
@media screen and (max-width: 880px) {
  .banner {
    height: 151px;
    text-align: left;
  }
}
.banner > h1 {
  color: rgb(255, 255, 255);
  font-weight: 500;
  width: 100%;
  height: 100%;
  font-size: 48px;
}
@media screen and (max-width: 880px) {
  .banner > h1 {
    padding-left: 10px;
    font-size: 24px;
  }
}
.banner > img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%) saturate(140%);
}
@media screen and (max-width: 880px) {
  .banner > img {
    border-radius: 10px;
  }
}

.thumb {
  width: 100%;
  height: 100%;
  padding: 10px;
}
@media screen and (max-width: 880px) {
  .thumb {
    padding: 0;
  }
}
.thumb__img {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(70%) saturate(140%);
  transition: 0.3s;
}
.thumb__img:hover {
  filter: brightness(100%) saturate(100%);
  transition: 0.3s;
}
.thumb__title {
  color: white;
  position: absolute;
  z-index: 2;
  bottom: 5%;
  left: 5%;
  width: 70%;
  font-size: 18px;
  font-weight: 500;
}
.thumb__sub {
  position: relative;
  max-height: 300px;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.carrousel__img {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}
.carrousel__button {
  position: absolute;
  font-size: 80px;
  color: rgb(255, 255, 255);
}
.carrousel__button--left {
  margin-left: 20px;
  margin-top: 150px;
}
.carrousel__button--right {
  margin-left: -80px;
  margin-top: 150px;
}

.tag {
  background-color: #ff6060;
  text-align: center;
  color: white;
  min-width: 115px;
  height: 25px;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 14px;
  margin: 12px 10px 12px 0;
  white-space: nowrap;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

ul {
  margin: 0;
}

.Dropdown {
  display: flex;
  flex-direction: column;
}
.Dropdown__label {
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  color: white;
  width: 100%;
  padding: 13px 20px;
  border-radius: 10px;
  margin-top: 20px;
  z-index: 10;
  font-size: 18px;
}
.Dropdown__list {
  top: 30px;
  width: 100%;
  background-color: #f6f6f6;
  margin-top: -20px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  border-radius: 10px;
  height: 100%;
}

.star {
  display: flex;
  flex-wrap: nowrap;
  align-self: flex-end;
  padding-bottom: 5px;
}
.star--yes {
  fill: #ff6060;
}
.star--no {
  fill: #dddddd;
}
.star--no, .star--yes {
  margin-left: 10px;
}
.star--no > svg, .star--yes > svg {
  width: 90%;
}

.picture {
  border-radius: 100px;
  width: 64px;
  height: 64px;
  margin-left: 20px;
}

.error {
  text-align: center;
  height: 65vh;
}
.error__title {
  font-size: 288px;
  font-weight: 700;
}
@media screen and (max-width: 880px) {
  .error__title {
    font-size: 96px;
  }
}
.error__subtitle {
  font-weight: 500;
  font-size: 36px;
  margin: auto;
}
@media screen and (max-width: 880px) {
  .error__subtitle {
    font-size: 18px;
  }
}
.error__backLink {
  display: block;
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 100px;
}
@media screen and (max-width: 880px) {
  .error__backLink {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: #ff6060;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
p,
div {
  color: #ff6060;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}
@media screen and (max-width: 880px) {
  h1 {
    font-size: 24px;
  }
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 18px;
}
@media screen and (max-width: 880px) {
  body {
    font-size: 12px;
  }
}

main {
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 880px) {
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  gap: 76px;
}
.flex .Dropdown {
  width: 50%;
}
@media screen and (max-width: 880px) {
  .flex {
    flex-direction: column;
  }
  .flex .Dropdown {
    width: 100%;
  }
}

.flexRowB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 880px) {
  .flexRowB {
    flex-direction: row-reverse;
  }
}

.Card {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
@media screen and (max-width: 880px) {
  .Card {
    flex-direction: column;
  }
}
.Card__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Card__title > p {
  margin-top: 5px;
}
@media screen and (max-width: 880px) {
  .Card__title {
    flex-direction: column;
  }
  .Card__title > p {
    font-size: 14px;
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrap {
  width: 100px;
  font-size: 18px;
  text-align: end;
  align-self: center;
  line-height: 26px;
}

/*# sourceMappingURL=style.css.map */
